#terminal {
  height: 100%;
  width: 100%;
  background: transparent;
  padding: 10px;
  overflow-y: scroll;
}

.input-line {
  display: flex;
}

.prompt {
  white-space: pre;
}

#input {
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  color: inherit;
  font: inherit;
  width: 100%;
  max-width: 100%;
  animation: terminal-cursor 1s infinite;
}

red {
  color: var(--red);
}

@keyframes terminal-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}